In [54]:
install.packages("dplyr")
install.packages("fastDummies")
library(dplyr)
library(fastDummies)

The downloaded binary packages are in
	/var/folders/s7/6ncckdrj32j81xfl9hjxkzkr0000gn/T//RtmpBywVBF/downloaded_packages

The downloaded binary packages are in
	/var/folders/s7/6ncckdrj32j81xfl9hjxkzkr0000gn/T//RtmpBywVBF/downloaded_packages

In [67]:
data <- read.csv('Trabajo Práctico 1/Datasets/eph_train_2023.csv')
head(data)

  codusu                        ano4 trimestre region            aglomerado
1 TQRMNOPYRHJMKPCDEIGED00785098 2023 3         Pampeana          30
2 TQRMNOQRXHKMLOCDEHLEH00790365 2023 3         Noroeste          25
3 TQRMNOPURHLOLMCDEGPDJ00805561 2023 3         Noroeste          19
4 TQRMNOPTQHJMQTCDEIJAH00786499 2023 3         Gran Buenos Aires 33
5 TQRMNOVSTHKNRPCDEIJAH00812204 2023 3         Gran Buenos Aires 33
6 TQRMNOSUXHJOLNCDEOJAH00793052 2023 3         Patagonia         93
  fecha_nacimiento edad asistencia_educacion nivel_ed
1 01/01/1900       30   asistio              Secundaria\nIncompleta
2 01/01/1900       28   asistio              Secundaria\nCompleta
3 22/07/1965       57   asistio              Secundaria\nIncompleta
4 20/10/1954       68   asistio              Primaria\nCompleta
5 19/02/1980       43   asistio              Superior\nUniversitaria\nCompleta
6 02/02/1984       39   asistio              Primaria\nCompleta
  tipo_establecimiento codigo_actividad sexo  categoria_ocupacion
1 Privada              5601             Mujer Obrero o empleado
2 Estatal              8401             Varon Obrero o empleado
3 Privada              4903             Varon Obrero o empleado
4 Privada              4803             Varon Cuenta propia
5 Privada              8501             Mujer Obrero o empleado
6 Privada               101             Mujer Obrero o empleado
  cat_cantidad_empleos alfabetismo          salario horas_trabajadas educacion
1 unico                Sabe leer y escribir  48000  15               10
2 unico                Sabe leer y escribir  50000  25               13
3 unico                Sabe leer y escribir 140000  63               11
4 unico                Sabe leer y escribir  60000  30                8
5 unico                Sabe leer y escribir 170000  40               16
6 unico                Sabe leer y escribir 100000  48                8
  experiencia_potencial salario_horario
1 15                     800.0000
2 10                     500.0000
3 41                     555.5556
4 55                     500.0000
5 22                    1062.5000
6 26                     520.8333

In [5]:
glimpse(data)

Rows: 11,772
Columns: 20
$ codusu                <chr> "TQRMNOPYRHJMKPCDEIGED00785098", "TQRMNOQRXHKMLO…
$ ano4                  <int> 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, …
$ trimestre             <int> 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, …
$ region                <chr> "Pampeana", "Noroeste", "Noroeste", "Gran Buenos…
$ aglomerado            <int> 30, 25, 19, 33, 33, 93, 14, 91, 22, 36, 18, 29, …
$ fecha_nacimiento      <chr> "01/01/1900", "01/01/1900", "22/07/1965", "20/10…
$ edad                  <int> 30, 28, 57, 68, 43, 39, 35, 60, 62, 32, 33, 54, …
$ asistencia_educacion  <chr> "asistio", "asistio", "asistio", "asistio", "asi…
$ nivel_ed              <chr> "Secundaria\nIncompleta", "Secundaria\nCompleta"…
$ tipo_establecimiento  <chr> "Privada", "Estatal", "Privada", "Privada", "Pri…
$ codigo_actividad      <int> 5601, 8401, 4903, 4803, 8501, 101, 1600, 8401, 8…
$ sexo                  <chr> "Mujer", "Varon", "Varon", "Varon", "Mujer", "Mu…
$ categoria_ocupacion   <chr> "Obrero o empleado", "Obrero o empleado", "Obrer…
$ cat_cantidad_empleos  <chr> "unico", "unico", "unico", "unico", "unico", "un…
$ alfabetismo           <chr> "Sabe leer y escribir", "Sabe leer y escribir", …
$ salario               <int> 48000, 50000, 140000, 60000, 170000, 100000, 186…
$ horas_trabajadas      <int> 15, 25, 63, 30, 40, 48, 40, 36, 30, 45, 20, 36, …
$ educacion             <int> 10, 13, 11, 8, 16, 8, 13, 8, 10, 13, 9, 15, 5, 1…
$ experiencia_potencial <int> 15, 10, 41, 55, 22, 26, 17, 47, 47, 14, 19, 34, …
$ salario_horario       <dbl> 800.0000, 500.0000, 555.5556, 500.0000, 1062.500…

El dataset cuenta con 11,772 filas y 20 columnas. A continuación se detalla la información sobre las columnas:

##### Tipo 'int'

- ano4 : Año de relevamiento
- trimestre : Trimestre de relevamiento
- aglomerado: aglomerado urbano de residencia
- edad: Años cumplidos
- codigo_actividad: Código de actividad económica (Clasificador de Actividades Económicas para Encuestas Sociodemográficas del Mercosur)
- salario: Salario mensual.
- educacion: Años de educación estimados
- experiencia_potencial: Estimación de la experiencia laboral, calculada a partir de la diferencia entre la edad y una estimación de los años de educación
- salario_horario: ingreso por hora trabajada en el mes (de la ocupación principal y ocupaciones secundarias)

##### Tipo 'dbl'

- salario_horario: ingreso por hora trabajada en el mes (de la ocupación principal y ocupaciones secundarias)

##### Tipo 'chr'

- codusu: ID de la observación
- region: región de residencia
- fecha_nacimiento: Fecha de nacimiento
- asistencia_educacion: ¿Asiste o asistió a algún establecimiento educativo?
- nivel_ed: Nivel educativo en que se encuentra la persona
- tipo_establecimiento: ¿El negocio / empresa / institución / actividad en la que trabaja es público o privado?
- sexo: Sexo (binario)
- categoria_ocupacion: Categoría ocupacional
- cat_cantidad_empleos: ¿La semana pasada tenía 1 o tenía múltiples empleos?
- alfabetismo: ¿Sabe leer y escribir?



Se realizan las siguientes transformaciones: 
- fecha_naciemiento => Transformo la columna a Data, luego calculo la edad de la persona.('edad_calculada')
- region => Se puede hacer un one_hot_encoding
- asistencia_educacion => Se puede hacer un one_hot_encoding
- nivel_ed => orden jerarquico
- tipo_establecimiento => one_hot_encoding
- sexo => booleana
- categoria_ocupacion => one_hot_encoring
- cat_cantidad_empleos => booleana
- alfabetismo => booleana

In [68]:

# Genero una lista con el nombre de las columnas tipo 'chr' que quiero evaluar
columnas_a_seleccionar <- c(
    "fecha_nacimiento",
    "region",
    "asistencia_educacion",
    "nivel_ed",
    "tipo_establecimiento",
    "sexo",
    "categoria_ocupacion",
    "cat_cantidad_empleos",
    "alfabetismo"
)

# Selecciono todas las columnas 'chr' excepto fecha_nacimiento y codusu que es el id. Miro los valores posibles de cada columna. ("\n" -> salto de linea)
# Utilizo "cat" para concatenar objetos y palabras

data_uniques <- data %>%
    select(all_of(columnas_a_seleccionar))%>%
    select(-fecha_nacimiento)

for (i in names(data_uniques)) {
    cat("Nombre de la columna:", i, "\n")
    cat("Valores únicos:\n")
    print(unique(data_uniques[[i]]))
    cat("\n")
}

Nombre de la columna: region
Valores únicos:
[1] "Pampeana"          "Noroeste"          "Gran Buenos Aires"
[4] "Patagonia"         "Cuyo"              "Noreste"

Nombre de la columna: asistencia_educacion
Valores únicos:
[1] "asistio"            "asiste actualmente" NA

Nombre de la columna: nivel_ed
Valores únicos:
[1] "Secundaria\nIncompleta"              "Secundaria\nCompleta"
[3] "Primaria\nCompleta"                  "Superior\nUniversitaria\nCompleta"
[5] "Superior\nUniversitaria\nIncompleta" "Primaria\nIncompleta"

Nombre de la columna: tipo_establecimiento
Valores únicos:
[1] "Privada" "Estatal" "Otra"

Nombre de la columna: sexo
Valores únicos:
[1] "Mujer" "Varon"

Nombre de la columna: categoria_ocupacion
Valores únicos:
[1] "Obrero o empleado"           "Cuenta propia"
[3] "Patron"                      "Trabajador sin remuneracion"

Nombre de la columna: cat_cantidad_empleos
Valores únicos:
[1] "unico"     "multiples"

Nombre de la columna: alfabetismo
Valores únicos:
[1] "Sabe leer y escribir"    "No sabe leer y escribir"

In [86]:
library(dplyr)
library(fastDummies)


# Alico las transformaciones y mantengo solo las columnas transformadas
data_transformada <- data %>%
    select(all_of(columnas_a_seleccionar)) %>%
    mutate(
        # Convierto `fecha_nacimiento` a Date y calcular la edad
        fecha_nacimiento = as.Date(fecha_nacimiento, format="%d/%m/%Y"), 
        edad_calculada = as.numeric(difftime(Sys.Date(), fecha_nacimiento, units = "weeks")) / 52.25,
        
        # Convierto variables categóricas binarias a valores numéricos
        sexo = as.numeric(sexo == "varon"), 
        cat_cantidad_empleos = as.numeric(cat_cantidad_empleos == "multiples"),  
        alfabetismo = as.numeric(alfabetismo == "Sabe leer y escribir")
    ) %>%
    # Genero columnas dummy para variables categóricas
    dummy_cols(select_columns = c("region", "asistencia_educacion", "tipo_establecimiento", "categoria_ocupacion"), remove_first_dummy = TRUE) %>%
    # Convierto `nivel_ed` en una variable categórica ordinal
    mutate(
        nivel_ed = factor(nivel_ed, levels = c(
            "Primaria\nIncompleta",
            "Primaria\nCompleta",
            "Secundaria\nIncompleta",
            "Secundaria\nCompleta",
            "Superior\nUniversitaria\nIncompleta",
            "Superior\nUniversitaria\nCompleta"
        ))
    ) %>%
    # Elimino las columnas originales y mantengo solo las transformadas
    select(
        -fecha_nacimiento,
        -region,
        -asistencia_educacion,
        -tipo_establecimiento,
        -categoria_ocupacion
    )

ERROR: Error in `select()`:
ℹ In argument: `all_of(columnas_a_seleccionar)`.
Caused by error in `all_of()`:
! Can't subset elements that don't exist.
✖ Elements `fecha_nacimiento`, `region`, `asistencia_educacion`, `tipo_establecimiento`, and `categoria_ocupacion` don't exist.

In [85]:
head(data)

  nivel_ed                          sexo cat_cantidad_empleos alfabetismo
1 Secundaria\nIncompleta            0    0                    1
2 Secundaria\nCompleta              0    0                    1
3 Secundaria\nIncompleta            0    0                    1
4 Primaria\nCompleta                0    0                    1
5 Superior\nUniversitaria\nCompleta 0    0                    1
6 Primaria\nCompleta                0    0                    1
  edad_calculada region_Gran Buenos Aires region_Noreste region_Noroeste
1 124.50308      0                        0              0
2 124.50308      0                        0              1
3  59.04033      0                        0              1
4  69.77990      1                        0              0
5  44.48120      1                        0              0
6  40.53315      0                        0              0
  region_Pampeana region_Patagonia asistencia_educacion_asistio
1 1               0                1
2 0               0                1
3 0               0                1
4 0               0                1
5 0               0                1
6 0               1                1
  asistencia_educacion_NA tipo_establecimiento_Otra
1 0                       0
2 0                       0
3 0                       0
4 0                       0
5 0                       0
6 0                       0
  tipo_establecimiento_Privada categoria_ocupacion_Obrero o empleado
1 1                            1
2 0                            1
3 1                            1
4 1                            0
5 1                            1
6 1                            1
  categoria_ocupacion_Patron categoria_ocupacion_Trabajador sin remuneracion
1 0                          0
2 0                          0
3 0                          0
4 0                          0
5 0                          0
6 0                          0